<html xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>VueJs App</title>
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <!-- Letakkan TEMPLATE disini -->
    <div class="container">
        <div>
<!--            <b-button type="button" variant="success" @click="onReset">Add</b-button>-->
            <b-table
                    id="my-table"
                    :items="items"
                    :fields="fields"
                    :per-page="perPage"
                    :current-page="currentPage"
                    striped
                    hover
            >
                <template v-slot:cell(actions)="row">
                    <b-button size="sm" @click="edit(row.item, row.index, $event.target)" class="mr-1 btn btn-warning">
                        Edit
                    </b-button>
                    <b-button size="sm" @click="del(row.item, row.index, $event.target)" class="mr-1 btn btn-danger">
                        Del
                    </b-button>
                </template>
            </b-table>
            <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
            ></b-pagination>

            <p class="mt-3">Current Page: {{ currentPage }}</p>
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                        id="input-group-1"
                        label="Id:"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="form.id"
                            type="text"
                            required
                            placeholder=""
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                        id="input-group-2"
                        label="Product Name:"
                        label-for="input-2"
                >
                    <b-form-input
                            id="input-2"
                            v-model="form.name"
                            type="text"
                            required
                            placeholder=""
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                        id="input-group-3"
                        label="Price:"
                        label-for="input-3"
                >
                    <b-form-input
                            id="input-3"
                            v-model="form.price"
                            type="number"
                            required
                            placeholder=""
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                        id="input-group-3"
                        label="Quantity:"
                        label-for="input-3"
                >
                    <b-form-input
                            id="input-3"
                            v-model="form.quantity"
                            type="number"
                            required
                            placeholder=""
                    ></b-form-input>
                </b-form-group>

                <b-button type="submit" variant="primary">{{ form_action }}</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
            <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ form }}</pre>
            </b-card>
        </div>
    </div>
</div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>